:root {
  --color-dark: rgb(36, 36, 36);
  --color-light: rgb(210, 210, 210);
  --color-code-bg: rgb(50, 50, 50);
  --color-code-text: rgb(225, 225, 225);
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 1rem;
  margin: auto;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-bottom: 1rem;
}

header li {
  display: inline;
  margin: 0 1rem;
  padding: 0.5rem;
}

header li:hover {
  text-decoration: underline;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 70%;
}

body img {
  max-height: 500px;
  margin: auto;
  display: block;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem 0;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}

h5 {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 1rem 0;
}

h6 {
  font-size: 0.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: circle;
}

li {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 1rem 1rem 2rem;
}

code {
  background-color: var(--color-code-bg);
  color: var(--color-code-text);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-family: monospace;
}

pre {
  background-color: var(--color-code-bg);
  color: var(--color-code-text);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-family: monospace;
}

blockquote {
  border-left: 0.25rem solid var(--color-light);
  padding: 0.5rem;
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 0.5rem;
  text-align: left;
}

td {
  padding: 0.5rem;
  text-align: left;
}

input {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: 0.1rem solid var(--color-light);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: block;
  margin: auto;
  min-width: 70%;
  margin-bottom: 20px;
}

button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: 0.1rem solid var(--color-light);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: block;
  margin: auto;
  min-width: 20%;
  cursor: pointer;
  margin-bottom: 20px;
}

p.search-index {
  text-align: center;
  margin-bottom: 1.5rem;
}
